
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.swn
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
venv/
*.env
*.local
local_settings.py
.DS_Store
.vscode/
.idea/
*.pid
docker-compose.override.yml
.dockerignore
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
Thumbs.db
